* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:cyan;
}

.header{
    display: grid;
    grid-auto-flow: column; 
    margin: 1% 4% 0% 5%;
}

.logo{
    margin-bottom: 10px;
}

.menu_item{
    background-color:white;
    border-style: solid;
    border-color:whitesmoke;
    margin-top: 10px;
    
    display: grid;
    place-items: center; /* сразу и вертикально, и горизонтально */
    height: 45px;
}

.search_bar{
    margin: 10px 10px;
    
}

.input_bar{
    height: 45px;
    width: 80%;
}

.search_button{
    height: 45px;
    width: 80px;
}

.content_wrap{
    margin: 0% 5%;
    padding: 20px;
    border-radius: 5%;
    background-color:white;
}

.five_day_forecast
{
    display: flex;
}

.day_forecast
{
    margin-right: 5px;
    height: 200px;
    border-style: solid;
    border-color:darkgray;
}

.weather_icon
{
    height: 40px;
    width: 40px;
}

footer{
    background-color: black;
    margin-top: 15%;
    height: 200px;
    width: 100%;
}


