* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:cyan;
}

header{
    background-color: wheat;
    height: 100px;
}

.content_wrap{
    margin: 10% 5%;
    padding: 20px;
    display: grid;
    background-color:white;
}

.search_bar{
    padding: 25px 10px;
}

.main_input{
    height: 30px;
    width: 80%;
}

.search_button{
    height: 30px;
    width: 60px;
}

footer{
    background-color: black;
    margin: 50px 0px;
    height: 200px;
    width: 100%;
}